In [25]:
LevelA <- c(40,48,38,42,45,46)
LevelB <- c(26,34,30,28,32,33)
LevelC <- c(39,40,48,50,50,52)

# 组合数据
data <- data.frame(
  Value = c(LevelA, LevelB, LevelC),
  Group = factor(rep(c("LevelA", "LevelB", "LevelC"), each = 6))
)
data

   Value Group
1  40    LevelA
2  48    LevelA
3  38    LevelA
4  42    LevelA
5  45    LevelA
6  46    LevelA
7  26    LevelB
8  34    LevelB
9  30    LevelB
10 28    LevelB
11 32    LevelB
12 33    LevelB
13 39    LevelC
14 40    LevelC
15 48    LevelC
16 50    LevelC
17 50    LevelC
18 52    LevelC

In [21]:
# 单因素方差分析
anova_result <- aov(Value ~ Group, data = data)

# 显示结果
summary(anova_result)

            Df Sum Sq Mean Sq F value   Pr(>F)
Group        2  855.1   427.6   23.25 2.54e-05 ***
Residuals   15  275.8    18.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

第（3）问

In [22]:
# 定义函数计算均值差的置信区间
mean_diff_ci <- function(A, B, anova_result, alpha = 0.05) {
  # 计算均值
  mean1 <- mean(A)
  mean2 <- mean(B)
  
  # 提取 MSE（组内均方误差）
  mse <- summary(anova_result)[[1]]["Residuals", "Mean Sq"]
  
  # 样本大小
  n1 <- length(A)
  n2 <- length(B)
  
  # 计算标准误差
  se_diff <- sqrt(mse * (1/n1 + 1/n2))
  
  # 自由度
  df <- summary(anova_result)[[1]]["Residuals", "Df"]
  
  # t 分布的临界值
  t_crit <- qt(1 - alpha / 6, df)
  
  # 计算均值差和置信区间
  mean_diff <- mean1 - mean2
  lower_ci <- mean_diff - t_crit * se_diff
  upper_ci <- mean_diff + t_crit * se_diff
  
  # 返回结果
  return(data.frame(
    Mean_Difference = mean_diff,
    Lower_CI = lower_ci,
    Upper_CI = upper_ci
  ))
}

In [23]:
# 调用函数计算水平 A 和 B 的均值差置信区间
result <- mean_diff_ci(LevelA, LevelB, anova_result)
print(result)

  Mean_Difference Lower_CI Upper_CI
1        12.66667 5.997483 19.33585

In [24]:
result <- mean_diff_ci(LevelA, LevelC, anova_result)
print(result)

  Mean_Difference  Lower_CI Upper_CI
1       -3.333333 -10.00252  3.33585

In [19]:
result <- mean_diff_ci(LevelB, LevelC, anova_result)
print(result)

  Mean_Difference  Lower_CI  Upper_CI
1             -16 -22.66918 -9.330816